*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

body {
    font-family: "subset-Graphik-Regular";
    color: #0a0a0a;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
}


/*Container*/

.container {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
}


/*/Container*/


/*Header*/

.header__inner {
    align-items: center;
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
}

.header__search {
    cursor: pointer;
}

.nav__link {
    text-decoration: none;
    color: #0a0a0a;
    font-weight: 400;
    font-size: 16px;
    padding-right: 30px;
    transition: color .2s linear;
}

.nav__link:hover {
    color: #01be66;
    transition: color .2s linear;
}

.nav__link--btn {
    padding-right: 0;
    color: #01be66;
    transition: color .2s linear;
}

.nav__link--btn:hover {
    color: #0a0a0a;
    transition: color .2s linear;
}

.nav__img {
    padding-right: 7px;
}

.btn--header {
    text-decoration: none;
    height: 50px;
    width: 50px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #01be66;
}


/*/Header*/


/*Footer*/

.footer {
    background-color: #000;
    padding-top: 35px;
    padding-bottom: 20px;
}

.footer__inner {
    padding-bottom: 45px;
    display: flex;
    justify-content: space-between;
}

.footer__text {
    color: #fff;
    line-height: 1.3;
    font-size: 13px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.footer__phone {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    font-family: "subset-Graphik-Semibold";
}

.footer__center-title {
    font-weight: 600;
    font-family: "subset-Graphik-Semibold";
    color: #a8a8a8;
    font-size: 20px;
}

.footer__link {
    padding-top: 15px;
    display: block;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__item {
    display: flex;
    justify-content: space-between;
}

.footer__card {
    display: flex;
    height: 20px;
}

.card__item {
    cursor: pointer;
    padding-right: 13px;
}

.footer__soc-item {
    margin-left: 10px;
    transition: transform .2s linear;
}

.footer__soc-item:hover {
    transform: translateY(-5px);
    transition: transform .2s linear;
}

.footer__copyright {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyright {
    color: #a8a8a8;
    font-size: 13px;
    line-height: 1.3;
    font-weight: 400;
}

.copyright__goverment {
    margin-right: 140px;
}

.copyright__user,
.copyright__gov {
    text-decoration: none;
    color: #01be66;
    line-height: 1.3;
    font-weight: 400;
    font-size: 13px;
}

.copyright__user:hover,
.copyright__gov:hover {
    text-decoration: underline;
}

.copyright__gov {
    margin-left: 15px;
}

.search__footer {
    outline: none;
    width: 160px;
    padding-left: 30px;
}

.search__footer-item {
    position: absolute;
    margin-top: 4px;
    z-index: 1000;
    right: 247px;
}

.search__footer {
    color: #fff;
    border: none;
    background-color: #000;
}

.search__footer::placeholder {
    color: #fff;
}


/*/Footer*/

.slider__item img {
    display: block;
    max-width: 100%;
    height: auto;
}


/*Fancy*/

#animatedModal {
    position: relative;
    padding: 25px 110px;
}

.modal__form {
    padding-bottom: 50px;
    padding-top: 25px;
}

.modal__logo {
    text-align: center;
}

.modal__title {
    text-align: center;
    padding-top: 15px;
    font-size: 20px;
    color: #0a0a0a;
    font-weight: 600;
    font-family: "subset-Graphik-Semibold";
}

.form__box-modal input {
    display: block;
    height: 40px;
    width: 340px;
}

input.fancy::placeholder {
    color: #000;
    font-weight: 600;
    font-family: "subset-Graphik-Semibold";
}

.flag {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 215px;
    left: 415px;
    z-index: 100;
}

input.fancy {
    margin-top: 10px;
    border: 1px solid #e8e8e8;
}

.fancy__span {
    color: #959595;
    font-size: 13px;
    font-weight: 400;
}

a.fancy__btn {
    border: none;
}

.fancy__btn {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 15px 28px;
    background-color: #01be66;
    color: #fff;
    text-decoration: none;
    transition: background-color .2s linear;
}

.fancy__btn:hover {
    background-color: #268d5d;
    transition: background-color .2s linear;
}

.text-center {
    margin-bottom: 30px;
    text-align: center;
}

.fancy__remember {
    position: relative;
    margin-top: 15px;
    color: #959595;
    line-height: 1.5;
    font-size: 13px;
    font-weight: 400;
}

.span__remember:hover {
    cursor: pointer;
    text-decoration: underline;
}

.span__remember {
    color: #0077cc;
}

.choice__next-check {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.choice__next-click {
    margin-right: 12px;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    width: 32px;
    padding-top: 10px;
    height: 32px;
    font-size: 13px;
    color: #959595;
    border: 1px solid #e8e8e8;
    transition: all .2s linear;
}

.choice__next-click:hover {
    color: #fff;
    background-color: #01be66;
    border: 1px solid #01be66;
    transition: all .2s linear;
}


/*/Fancy*/


/*ВЫБОР*/

#change {
    padding: 25px 140px;
}

.change__inner {
    text-align: center;
}

.reg {
    color: #0a0a0a;
    font-weight: 600;
    font-family: 'subset-Graphik-Semibold';
    font-size: 20px;
    margin-top: 20px;
}

.change__reg {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.change__client {
    cursor: pointer;
    text-decoration: none;
    color: #0a0a0a;
    font-size: 24px;
    font-weight: 700;
    font-family: 'subset-GraphikLCG-Bold';
    padding-right: 30px;
    transition: color .2s linear;
}

.change__main {
    cursor: pointer;
    text-decoration: none;
    color: #0a0a0a;
    font-size: 24px;
    font-weight: 700;
    font-family: 'subset-GraphikLCG-Bold';
    padding-left: 30px;
    transition: color .2s linear;
}

.change__client:hover,
.change__main:hover {
    color: #01be66;
    transition: color .2s linear;
}


/*ВЫБОР*/


/*ВЛАДЕЛЕЦ*/

.owner {
    padding: 25px 30px;
}

.owner__reg {
    display: flex;
    justify-content: space-between;
}

.owner__center {
    text-align: center;
    margin-bottom: 20px;
}

.owner__input {
    border: 1px solid #e8e8e8;
    width: 350px;
    padding: 10px;
    display: block;
}

.owner__left-title {
    font-size: 20px;
    font-weight: 600;
    color: #0a0a0a;
    font-family: 'subset-Graphik-Semibold';
}

.owner__span {
    display: block;
    margin-bottom: 5px;
    margin-top: 15px;
    color: #959595;
    font-size: 13px;
    font-weight: 400;
}

.owner__input::placeholder {
    color: #0a0a0a;
    font-size: 16px;
    font-weight: 400;
}

.owner__left {
    position: relative;
}

.owner__center-block {
    padding: 0px 15px;
}

.backed {
    position: relative;
}

.country-span {
    position: relative;
}

.owner__right-inner {
    margin-top: 34px;
    display: flex;
    max-width: 320px;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid #e8e8e8;
    padding: 20px 30px;
}

.owner__service {
    width: 100px;
}

.service.own {
    margin-bottom: 0;
}

.service {
    width: 100%;
    margin-bottom: 30px;
    position: relative;
    font-size: 13px;
    color: #959595;
    font-weight: 400;
    margin-left: 35px;
}

.service:hover {
    color: #0a0a0a;
    cursor: pointer;
}

.service:focus,
.service:active {
    color: #0a0a0a;
    cursor: pointer;
}

.top-owner {
    margin-top: 40px;
}

.owners {
    display: block;
    text-align: center;
}

.owners:before {
    top: 5px;
    left: 335px;
    z-index: 500;
}

.flaged {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 133px;
    left: 715px;
    z-index: 500;
}


/*/ВЛАДЕЛЕЦ*/

.center {
    margin-top: 100px;
    text-align: center;
    margin-bottom: 50px;
}

.error {
    margin: auto;
    display: block;
    text-align: center;
}

.error__text {
    line-height: 1.5;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: #0a0a0a;
}

.error__btn {
    border-radius: 3px;
    padding: 20px 45px;
    color: #fff;
    font-size: 16px;
    background-color: #01be66;
    text-decoration: none;
}

.btn__center {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 200px;
}