*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

body {
    font-family: "subset-Graphik-Regular";
    color: #0a0a0a;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
}


/*Container*/

.container {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
}


/*/Container*/

.main__anim-fancy:invalid {
    border: 1px solid #f24841;
}


/*Header*/

.header:after {
    margin-top: 15px;
    opacity: .5;
    content: "";
    border: 1px solid #e8e8e8;
    display: block;
}

.header__inner {
    align-items: center;
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
}

.header__search {
    cursor: pointer;
}

.nav__link {
    text-decoration: none;
    color: #0a0a0a;
    font-weight: 400;
    font-size: 16px;
    padding-right: 30px;
    transition: color .2s linear;
}

.nav__link:hover {
    color: #01be66;
    transition: color .2s linear;
}

.nav__link--btn {
    padding-right: 0;
    color: #01be66;
    transition: color .2s linear;
}

.nav__link--btn:hover {
    color: #0a0a0a;
    transition: color .2s linear;
}

.nav__img {
    padding-right: 7px;
}

.btn--header {
    text-decoration: none;
    height: 50px;
    width: 50px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #01be66;
}


/*/Header*/


/* CROP */

.crop {
    margin-top: 15px;
    margin-bottom: 25px;
}

.crop__active {
    color: #959595;
}

.crop__title {
    color: #0a0a0a;
    font-size: 13px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: -10px;
    transition: color .2s linear;
}

.fancy__remember::before {
    display: none;
}

#animModal .center {
    margin-top: 0;
}

.anim__fancy::after {
    display: none;
}

.crop__title:hover {
    cursor: pointer;
}

.crop__span:hover {
    color: #01be66;
    transition: color .2s linear;
}


/* /CROP */


/*MAIN*/

.main__title {
    margin-bottom: 30px;
    color: #0a0a0a;
    font-size: 36px;
    font-weight: 700;
    font-family: 'subset-GraphikLCG-Bold';
}

.main__inner {
    display: flex;
    position: relative;
}

.main__left {
    width: 75%;
    padding-right: 10px;
}

.slider {
    position: relative;
    outline: none;
}

.watter-item {
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 100;
}

.best {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 100;
    transition: transform .2s linear;
}

.big:hover {
    transition: transform .2s linear;
    transform: rotate(90deg);
}

.best:hover {
    transition: transform .2s linear;
    transform: skewX(-10deg);
}

.big {
    transition: transform .2s linear;
    position: absolute;
    top: 30px;
    right: 15px;
    z-index: 100;
    cursor: pointer;
}

.photo img {
    z-index: 1;
}

.slider__main-2 .photo {
    margin: 0;
    padding: 0;
    border: 0;
}

.main__room {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    color: #0a0a0a;
    font-size: 20px;
    font-weight: 600;
    font-family: 'subset-Graphik-Semibold';
}

.slider {
    cursor: pointer;
}

.slider__main-2 {
    outline: none;
    margin-bottom: 15px;
}

.main__more {
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px dashed #0077cc;
    color: #0077cc;
    font-size: 13px;
}

.center {
    text-align: center;
    margin-bottom: 30px;
}

.main__service-inner {
    display: flex;
    /*justify-content: space-between;*/
}

.main__service {
    margin-bottom: 50px;
    padding-top: 12px;
    border: 1px solid #e8e8e8;
    width: 85px;
    height: 85px;
    text-align: center;
    margin-left: 10px;
    transition: border .2s linear;
}

.main__service:hover {
    border: 1px solid #c7c7c7;
    cursor: pointer;
    transition: border .2s linear;
}

.main__much {
    text-align: center;
    color: #0a0a0a;
    font-size: 13px;
    font-weight: 400;
}

.main__info {
    position: relative;
}

.main__info-inner {
    display: flex;
    justify-content: space-between;
}

.main__info-left {
    text-decoration: none;
    position: relative;
    margin-bottom: 45px;
    color: #0a0a0a;
    font-size: 24px;
    cursor: pointer;
    font-family: 'subset-GraphikLCG-Bold';
}

.photo {
    outline: none;
    text-decoration: none;
}

.main__info-left:hover,
.main__info-left:active {
    color: #01be66;
    cursor: pointer;
}

.main__info-left:hover::before {
    display: block;
}

.main__info-left:active::before {
    display: block;
}

.main__info-text {
    line-height: 1.6;
    color: #0a0a0a;
    font-size: 13px;
    font-weight: 400;
}

.main-price {
    margin-top: 30px;
    color: #0a0a0a;
    font-weight: 600;
    font-family: 'subset-Graphik-Semibold';
    font-size: 20px;
    margin-bottom: 30px;
}

.main__inner-price {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main__left-price {
    padding: 0 10px;
    display: flex;
    width: 50%;
    margin-bottom: 30px;
    padding-right: 30px;
    justify-content: space-between;
}

.main__right-price {
    padding-left: 30px;
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.main--text {
    color: #0a0a0a;
    font-weight: 400;
    font-size: 16px;
}

.main-text {
    color: #0a0a0a;
    font-weight: 400;
    font-size: 16px;
    position: relative;
}

.main-text-1 {
    color: #0a0a0a;
    font-weight: 400;
    font-size: 16px;
    position: relative;
}

.main--yes {
    font-weight: 400;
    font-size: 16px;
    color: #01be66;
}

.main--no {
    color: #f24841;
}

.main__right {
    width: 100%;
    padding-left: 10px;
}

.main__right-inner {
    border-radius: 3px;
    background-color: #848484;
    padding: 15px;
}

.main__right-title {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    font-family: 'subset-Graphik-Semibold';
}

.main__right-text {
    margin-top: 15px;
    color: #fff;
    font-weight: 400;
    font-size: 13px;
}

.main__right-form {
    position: relative;
    margin-top: 7px;
}

.main--form {
    position: relative;
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 15px;
    border-radius: 3px;
    border: none;
    outline: none;
    width: 245px;
}

.main--form::placeholder {
    color: #0a0a0a;
}

.main--form__img {
    position: absolute;
    top: 15px;
    cursor: pointer;
    right: 15px;
    z-index: 1;
}

.main--form__images {
    position: absolute;
    top: 21px;
    cursor: pointer;
    right: 15px;
    z-index: 1;
}

.main__right-ask {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin-top: 17px;
}

.main__right-qna {
    display: flex;
}

.service.main--active {
    color: #fff;
    margin-right: 25px;
}

.service.main--active:before {
    border: 1px solid #fff;
    color: #fff;
    background-color: #fff;
}

.service:hover .main--active:before {
    border: 1px solid #fff;
    color: #fff;
    background-color: #fff;
}

.main__right-much-inner {
    padding: 20px 15px 0px 15px;
    border: 1px solid #e8e8e8;
}

.main__right-much {
    color: #0a0a0a;
    font-family: 'subset-Graphik-Semibold';
    font-weight: 600;
    font-size: 13px;
}

.main__right-money {
    margin-top: 15px;
    margin-bottom: 50px;
    color: #01be66;
    font-size: 28px;
    font-weight: 600;
    font-family: 'subset-Graphik-Semibold';
}

.main--grey {
    color: #959595;
    font-weight: 400;
    font-size: 13px;
}

.main__right-btn {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background-color: #01be66;
}

.main__right-much .main__right-btn {
    padding: 20px 38px;
}

.main__right-btn:hover {
    text-decoration: none;
    color: white;
}

.main__right-much .center {
    padding-left: 0;
}

.main__right-rem {
    display: flex;
    align-items: center;
}

.main__right-remember {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #959595;
    font-weight: 400;
    font-size: 13px;
}

.main__right-remember img {
    cursor: pointer;
    margin-right: 10px;
}

.main__right-much .main__right-info {
    border-radius: 3px;
    padding: 8px;
    background-color: #959595;
    color: #fff;
    position: absolute;
    top: -90px;
    line-height: 1.5;
    left: -115px;
    z-index: 10;
    width: 315px;
}

.main__right-much .center {
    position: relative
}

.main__info-inner:before {
    content: "";
    width: 100%;
    height: 2px;
    border: 2px solid #f3f3f3;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 1;
}

.main__info-left:before {
    content: "";
    width: 100%;
    height: 2px;
    border: 2px solid #01be66;
    position: absolute;
    top: 35px;
    left: 0;
    display: none;
    z-index: 2;
}


/*/MAIN*/


/*БРОНЬ*/

#animModal {
    position: relative;
    padding: 20px 50px;
}

.main__anim {
    display: flex;
}

.anim {
    margin-left: 80px;
    margin-bottom: 45px;
}

.anim__phone {
    padding-bottom: 10px;
    text-align: center;
    color: #0a0a0a;
    font-size: 16px;
    font-weight: 400;
}

.fancy__remember {
    position: relative;
}

.anim__fancy {
    text-align: center;
    padding-bottom: 30px;
}

.anim__fancy:after {
    left: 100px;
    position: absolute;
}

.fancy__animation {
    margin-top: 30px;
}

.full__anim {
    text-align: center;
    color: #959595;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.4;
}

.main__anim-fancy {
    outline: none;
    color: #0a0a0a;
    font-weight: 400;
    font-size: 16px;
    width: 330px;
    padding: 15px;
    border: 1px solid #268d5d;
}

.anim__fancy:before {
    cursor: pointer;
    content: "";
    position: absolute;
    top: 7px;
    left: -10px;
    z-index: 102;
    width: 25px;
    height: 25px;
    border: 1px solid #e8e8e8;
}

.fancy__animation a {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}


/*/БРОНЬ*/

.chara__title {
    margin-top: 40px;
    margin-bottom: 30px;
    color: #0a0a0a;
    font-size: 36px;
    font-weight: 700;
    font-family: 'subset-GraphikLCG-Bold';
}

.chara__km-inner {
    display: flex;
    justify-content: space-between;
    border: 1px solid #e8e8e8;
    padding: 5px 20px 20px 20px;
    margin-bottom: 50px;
}

.attraction__left {
    width: 50%;
    padding-right: 15px;
}

.attraction__right {
    padding-left: 15px;
    width: 50%;
}

.attraction {
    margin-top: 15px;
    position: relative;
    margin-bottom: 5px;
    font-family: 'subset-Graphik-Semibold';
    font-size: 16px;
    color: #0a0a0a;
    font-weight: 600;
}

.attraction-km {
    font-size: 16px;
    color: #0a0a0a;
    font-weight: 400;
    padding: 10px 10px 10px;
    border: 1px solid #e8e8e8;
}


/* ОТЗЫВЫ */

.reviews__title {
    color: #0a0a0a;
    font-size: 20px;
    font-family: 'subset-Graphik-Semibold';
    font-weight: 600;
}

.reviews__subtitle {
    margin-top: 5px;
    color: #959595;
    font-size: 16px;
    font-weight: 400;
}

.reviews__block-inner {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border: 1px solid #e8e8e8;
    padding: 20px;
}

.reviews__number {
    border: 1px solid #e8e8e8;
    padding: 15px 25px;
    font-size: 44px;
    font-weight: 600;
    font-family: 'subset-Graphik-Semibold';
    display: flex;
    align-items: center;
}

.reviews__number img {
    margin-right: 10px;
}

.reviews__block-right {
    padding-right: 100px;
    margin-top: 10px;
}

.reviews__block-center {
    margin-top: 10px;
    padding-right: 80px;
}

.reviews__clear {
    text-align: right;
    display: block;
    margin-bottom: 10px;
    position: relative;
    color: #0a0a0a;
    font-weight: 400;
    font-size: 16px;
}

.reviews__span {
    color: #959595;
    font-weight: 400;
    font-size: 16px;
}

.reviews__clear:before {
    content: "";
    top: 7px;
    left: 200px;
    z-index: 1;
    position: absolute;
    background-color: #ffb900;
    height: 5px;
    width: 70px;
}

.reviews__clear-1:before {
    content: "";
    top: 7px;
    left: 170px;
    z-index: 1;
    position: absolute;
    background-color: #ffb900;
    height: 5px;
    width: 80px;
}

.reviews__clear .reviews__span {
    margin-left: 10px;
}

.rev__inner {
    display: flex;
    justify-content: space-between;
}

.rev__inner-right {
    display: flex;
}

.rev__inner-reviews {
    position: relative;
    margin-left: 25px;
}

.rev__inner-reviews:first-child {
    margin-left: 0;
}

.rev__inner-right {
    position: relative;
}

.rev__inner-right:before {
    content: "";
    width: 100%;
    height: 2px;
    border: 2px solid #f3f3f3;
    position: absolute;
    top: 25px;
    left: 0;
    z-index: 1;
}

.rev__inner-reviews:hover::before {
    display: block;
}

.rev__inner-reviews.new:before {
    display: block;
}

.rev__rev {
    color: #0a0a0a;
    font-size: 20px;
    font-family: 'subset-Graphik-Semibold';
    font-weight: 600;
}

.rev__num {
    color: #959595;
}

.new {
    color: #01be66;
}

.rev__inner-reviews:hover {
    color: #01be66;
    cursor: pointer;
}

.rev__inner {
    position: relative;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.rev__inner-reviews:before {
    content: "";
    width: 100%;
    height: 2px;
    border: 2px solid #01be66;
    position: absolute;
    top: 25px;
    left: 0;
    display: none;
    z-index: 2;
}

.rev__comment {
    margin-bottom: 15px;
    border: 1px solid #e8e8e8;
    padding: 15px;
}

.comment__inner {
    display: flex;
    justify-content: space-between;
}

.comment__left {
    align-items: center;
    display: flex;
}

.comment__img img {
    margin-right: 15px;
}

.comment__ratting {
    margin-bottom: 5px;
    color: #428DD3;
    font-size: 16px;
    font-weight: 400;
}

.comment__right-date {
    padding-top: 30px;
}

.comment__right-date {
    font-size: 13px;
    color: #959595;
    font-weight: 400;
}

.reviews__man {
    line-height: 1.4;
    color: #0a0a0a;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}

.rev__btn {
    border-bottom: 1px dashed #428DD3;
    text-decoration: none;
    text-align: center;
    color: #428DD3;
    font-size: 16px;
    font-weight: 400;
}


/*/ОТЗЫВЫ */


/* Choice Slider*/

.choice__btn {
    margin: 0 5px;
    outline: none;
    position: absolute;
}

.choice--next {
    border: none;
    background-color: rgba(254, 254, 254, .4);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 3;
    top: 40%;
    transition: background-color .2s linear;
}

.choice__btn:hover {
    background-color: #c7c7c7;
    transition: background-color .2s linear;
}

.choice--prev {
    border: none;
    background-color: rgba(254, 254, 254, .4);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 3;
    top: 40%;
    right: 0;
}


/*/Choice Slider*/


/*Footer*/

.footer {
    background-color: #000;
    padding-top: 35px;
    padding-bottom: 20px;
}

.footer__inner {
    padding-bottom: 45px;
    display: flex;
    justify-content: space-between;
}

.footer__text {
    color: #fff;
    line-height: 1.3;
    font-size: 13px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.footer__phone {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    font-family: "subset-Graphik-Semibold";
}

.footer__center-title {
    font-weight: 600;
    font-family: "subset-Graphik-Semibold";
    color: #a8a8a8;
    font-size: 20px;
}

.footer__link {
    padding-top: 15px;
    display: block;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__item {
    display: flex;
    justify-content: space-between;
}

.footer__card {
    display: flex;
    height: 20px;
}

.card__item {
    cursor: pointer;
    padding-right: 13px;
}

.footer__soc-item {
    margin-left: 10px;
    transition: transform .2s linear;
}

.footer__soc-item:hover {
    transform: translateY(-5px);
    transition: transform .2s linear;
}

.footer__copyright {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyright {
    color: #a8a8a8;
    font-size: 13px;
    line-height: 1.3;
    font-weight: 400;
}

.copyright__goverment {
    margin-right: 140px;
}

.copyright__user,
.copyright__gov {
    text-decoration: none;
    color: #01be66;
    line-height: 1.3;
    font-weight: 400;
    font-size: 13px;
}

.copyright__user:hover,
.copyright__gov:hover {
    text-decoration: underline;
}

.copyright__gov {
    margin-left: 15px;
}

.search__footer {
    outline: none;
    width: 160px;
    padding-left: 30px;
}

.search__footer-item {
    position: absolute;
    margin-top: 4px;
    z-index: 1000;
    right: 247px;
}

.search__footer {
    color: #fff;
    border: none;
    background-color: #000;
}

.search__footer::placeholder {
    color: #fff;
}


/*/Footer*/


/*Fancy*/

#animatedModal {
    position: relative;
    padding: 25px 110px;
}

.modal__form {
    padding-bottom: 50px;
    padding-top: 25px;
}

.modal__logo {
    text-align: center;
}

.modal__title {
    text-align: center;
    padding-top: 15px;
    font-size: 20px;
    color: #0a0a0a;
    font-weight: 600;
    font-family: "subset-Graphik-Semibold";
}

.form__box-modal input {
    display: block;
    height: 40px;
    width: 340px;
}

input.fancy::placeholder {
    color: #000;
    font-weight: 600;
    font-family: "subset-Graphik-Semibold";
}

.flag {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 215px;
    left: 415px;
    z-index: 100;
}

input.fancy {
    padding-left: 10px;
    outline: none;
    margin-top: 10px;
    border: 1px solid #e8e8e8;
}

.fancy__span {
    color: #959595;
    font-size: 13px;
    font-weight: 400;
}

a.fancy__btn {
    border: none;
}

.fancy__btn {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 15px 28px;
    background-color: #01be66;
    color: #fff;
    text-decoration: none;
    transition: background-color .2s linear;
}

.fancy__btn:hover {
    background-color: #268d5d;
    transition: background-color .2s linear;
}

.text-center {
    margin-bottom: 30px;
    text-align: center;
}

.fancy__remember {
    position: relative;
    margin-top: 15px;
    color: #959595;
    line-height: 1.5;
    font-size: 13px;
    font-weight: 400;
}

.span__remember:hover {
    cursor: pointer;
    text-decoration: underline;
}

.fancy__remember:not(.anim__fancy):before {
    cursor: pointer;
    content: "";
    position: absolute;
    top: 7px;
    left: -35px;
    z-index: 102;
    width: 25px;
    height: 25px;
    border: 1px solid #e8e8e8;
}

.span__remember {
    color: #0077cc;
}

.choice__next-check {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.choice__next-click {
    margin-right: 12px;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    width: 32px;
    padding-top: 10px;
    height: 32px;
    font-size: 13px;
    color: #959595;
    border: 1px solid #e8e8e8;
    transition: all .2s linear;
}

.choice__next-click:hover {
    color: #fff;
    background-color: #01be66;
    border: 1px solid #01be66;
    transition: all .2s linear;
}


/*/Fancy*/


/*Fancy*/

#animatModal {
    width: 900px;
    height: 543px;
    padding: 10px 10px 10px 10px;
}

.animat__inner {
    display: flex;
}

.animat__left {
    width: 80%;
}

.animat__right {
    padding-left: 10px;
    width: 20%;
}

.animat__photo {
    position: relative;
    max-height: 360px;
}

.animat__photos {
    display: flex;
}

.main__photos {
    padding: 0 5px;
}

.animat__room {
    margin-top: 5px;
    margin-bottom: 5px;
}

.service {
    margin-top: 20px;
    position: relative;
    font-size: 13px;
    color: #0a0a0a;
    font-weight: 400;
    margin-left: 35px;
}

.service:hover::before {
    border: 1px solid #0a0a0a;
    transition: border .2s linear;
}

.service:hover {
    color: #0a0a0a;
    cursor: pointer;
}

.service:focus,
.service:active {
    color: #0a0a0a;
    cursor: pointer;
}

.service--active {
    color: #0a0a0a;
    cursor: pointer;
    font-size: 13px;
    font-weight: 400;
}

.animat--block {
    margin-top: 20px;
    max-height: 235px;
}

.animat__span {
    font-size: 12px;
    color: #959595;
    font-weight: 400;
}

.animat__service {
    display: flex;
    align-items: center;
    color: #0a0a0a;
    font-weight: 400;
    font-size: 12px;
}

.animat__slider {
    outline: none;
    width: 100%;
}

.animat__flex {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.animat__span {
    display: flex;
    align-items: center;
}

.animat__span img {
    width: 20px;
    padding-right: 5px;
}


/*/Fancy*/


/*ВЫБОР*/

#change {
    padding: 25px 140px;
}

.change__inner {
    text-align: center;
}

.reg {
    color: #0a0a0a;
    font-weight: 600;
    font-family: 'subset-Graphik-Semibold';
    font-size: 20px;
    margin-top: 20px;
}

.change__reg {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.change__client {
    cursor: pointer;
    text-decoration: none;
    color: #0a0a0a;
    font-size: 24px;
    font-weight: 700;
    font-family: 'subset-GraphikLCG-Bold';
    padding-right: 30px;
    transition: color .2s linear;
}

.change__main {
    cursor: pointer;
    text-decoration: none;
    color: #0a0a0a;
    font-size: 24px;
    font-weight: 700;
    font-family: 'subset-GraphikLCG-Bold';
    padding-left: 30px;
    transition: color .2s linear;
}

.change__client:hover,
.change__main:hover {
    color: #01be66;
    transition: color .2s linear;
}


/*ВЫБОР*/


/*ВЫБОР*/

#change {
    padding: 25px 140px;
}

.change__inner {
    text-align: center;
}

.reg {
    color: #0a0a0a;
    font-weight: 600;
    font-family: 'subset-Graphik-Semibold';
    font-size: 20px;
    margin-top: 20px;
}

.change__reg {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.change__client {
    cursor: pointer;
    text-decoration: none;
    color: #0a0a0a;
    font-size: 24px;
    font-weight: 700;
    font-family: 'subset-GraphikLCG-Bold';
    padding-right: 30px;
    transition: color .2s linear;
}

.change__main {
    cursor: pointer;
    text-decoration: none;
    color: #0a0a0a;
    font-size: 24px;
    font-weight: 700;
    font-family: 'subset-GraphikLCG-Bold';
    padding-left: 30px;
    transition: color .2s linear;
}

.change__client:hover,
.change__main:hover {
    color: #01be66;
    transition: color .2s linear;
}


/*ВЫБОР*/


/*ВЛАДЕЛЕЦ*/

.owner {
    padding: 25px 30px;
}

.owner__reg {
    display: flex;
    justify-content: space-between;
}

.owner__center {
    text-align: center;
    margin-bottom: 20px;
}

.owner__input {
    border: 1px solid #e8e8e8;
    width: 350px;
    padding: 10px;
    display: block;
}

.owner__left-title {
    font-size: 20px;
    font-weight: 600;
    color: #0a0a0a;
    font-family: 'subset-Graphik-Semibold';
}

.owner__span {
    display: block;
    margin-bottom: 5px;
    margin-top: 15px;
    color: #959595;
    font-size: 13px;
    font-weight: 400;
}

.owner__input::placeholder {
    color: #0a0a0a;
    font-size: 16px;
    font-weight: 400;
}

.owner__left {
    position: relative;
}

.owner__center-block {
    padding: 0px 15px;
}

.backed {
    position: relative;
}

.flaged {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 133px;
    left: 715px;
    z-index: 500;
}

.country-span {
    position: relative;
}

.owner__right-inner {
    margin-top: 34px;
    display: flex;
    max-width: 320px;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid #e8e8e8;
    padding: 20px 30px;
}

.owner__service {
    width: 100px;
}

.services.own {
    margin-bottom: 0;
}

.services {
    width: 100%;
    margin-bottom: 30px;
    position: relative;
    font-size: 13px;
    color: #959595;
    font-weight: 400;
    margin-left: 35px;
}

.services:before {
    cursor: pointer;
    position: absolute;
    content: "";
    top: -5px;
    left: -35px;
    z-index: 1;
    width: 25px;
    height: 25px;
    border: 1px solid #959595;
    border-radius: 3px;
    transition: border .2s linear;
}

.services:hover::before {
    border: 1px solid #0a0a0a;
    transition: border .2s linear;
}

.services:hover {
    color: #0a0a0a;
    cursor: pointer;
}

.services:focus,
.services:active {
    color: #0a0a0a;
    cursor: pointer;
}

.services--active {
    color: #0a0a0a;
    cursor: pointer;
    font-size: 13px;
    font-weight: 400;
}

.top-owner {
    margin-top: 40px;
}

.owners {
    display: block;
    text-align: center;
}

.owners:before {
    top: 5px;
    left: 335px;
    z-index: 500;
}

.owners:after {
    color: #c7c7c7;
    cursor: pointer;
    content: "\e902";
    color: #01be66;
    font-family: 'icomoon';
    position: absolute;
    top: 8px;
    left: 341px;
    z-index: 2;
}


/*/ВЛАДЕЛЕЦ*/

.main-text::before{
    content: "";
font-family: 'icomoon';
content: "\e902";
position: absolute;
top: 0;
left: 375px;
font-size: 20px;
z-index: 101;
color:#01be66;

}
