*,
*:before,
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

body {
	font-family: "subset-Graphik-Regular";
	color: #0a0a0a;
    -webkit-font-smoothing: antialiased;

	margin: 0;
	padding: 0;
}

/*Container*/
.container {
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
	max-width: 1180px;
	margin: 0 auto;
}
/*/Container*/


/*Header*/
.header:after {
	margin-top: 10px;
	opacity: .5;
	content: "";
	border: 1px solid #e8e8e8;
	display: block;
}

.header__inner {
	align-items: center;
	padding-top: 15px;
	display: flex;
	justify-content: space-between;
}

.header__search {
	padding-right: 450px;
	cursor: pointer;
}

.nav__link {
	text-decoration: none;
	color: #0a0a0a;
	font-weight: 400;
	font-size: 16px;
	padding-right: 30px;

	transition: color .2s linear;
}

.nav {
	display: flex;
	align-items: center;
}

.nav__link:hover {
	color: #01be66;

	transition: color .2s linear;
}

.nav__link--btn {
	padding-right: 0;
	color: #01be66;

	transition: color .2s linear;
}

.nav__link--btn:hover {
	color: #0a0a0a;

	transition: color .2s linear;
}

.nav__img {
	padding-right: 7px;
}

.linked {
	padding-top: 3px;
	display: flex;
	align-items: center;
}
/*/Header*/

.rev__rev {
	margin-bottom: 20px;
	color: #0a0a0a;
	font-size: 36px;
	font-family: 'subset-GraphikLCG-Bold';
	font-weight: 700;
}


/* DIALOG*/
.dialog {
	padding-bottom: 40px;
}


.dialog__inner {
	display: flex;
}



/*LEFT*/
.dialog__inner-left {
	margin-top: 50px;
	width: 78%;
	padding-right: 10px;
}

.setting__inner {
	display: flex;
}

.setting__left {
	width: 30%
}

.setting__right {
	width: 70%;
}

.setting__photo {
	padding: 20px 50px 50px 50px;
	border: 1px solid #e8e8e8;
	text-align: center;
}

.setting__load {
	text-decoration: none;
	color: #01be66;
	font-size: 13px;
	font-weight: 400;
}

.img__setting {
	margin-top: 20px;
}

.setting__left {
	padding-right: 10px;
}

.setting__right {
	padding-left: 10px;
}

.setting__info {
	border: 1px solid #e8e8e8;
	padding: 15px;
}

.setting__info.two {
	border-top: 0;
}

.form__inner {
	position: relative;
}

.name--bottom {
	margin: 0;
}

.name--top {
	margin-top: 5px;
}

.service {
	margin-right: 20px;
	margin-bottom: 30px;
	position: relative;
	font-size: 13px;
	color: #959595;
	font-weight: 400;
	margin-left: 35px;
}

.setting__service {
	display: flex;
	position: absolute;
	top: 35px;
	left: 385px;
	z-index: 1;
}

.service:before {
	cursor: pointer;
	position: absolute;
	content: "";
	top: -5px;
	left: -35px;
	z-index: 1;
	width: 25px;
	height: 25px;
	border: 1px solid #959595;
	border-radius: 3px;

	transition: border .2s linear;
}

.service--active:after {
	color: #c7c7c7;
	cursor: pointer;
 	content: "\e902";
 	color: #01be66;
	font-family: 'icomoon';
	position: absolute;
	top: 2px;
	left: -29px;
	z-index: 2;
}

.service:hover::before {
	border: 1px solid #0a0a0a;
    
    transition: border .2s linear;
}

.service:hover {
	color: #0a0a0a;
	cursor: pointer;
}

.service:focus,
.service:active {
	color: #0a0a0a;
	cursor: pointer;
}

.service--active {
	color: #0a0a0a;
	cursor: pointer;
	font-size: 13px;
	font-weight: 400;
}

.service.service--active:before {
	border: 1px solid #0a0a0a;
}

.service.service--active {
	margin-top: 0;
	margin-bottom: 30px;
}

input {
	position: relative;
	margin-top: 5px;
	width: 340px;
	display: block;
	outline: none;
	border: 1px solid #e8e8e8;
	border-radius: 3px;
	margin-bottom: 20px;
}

input:focus {
	border: 1px solid #f24841;
}

.icon-1 {
	position: absolute;
	top: 12px;
	left: 310px;
	z-index: 1;
	cursor: pointer;
}

.icon-2 {
	position: absolute;
	top: 36px;
	left: 310px;
	z-index: 1;
	cursor: pointer;
}

input.name {
	position: relative;
	padding: 10px;
}

.initial {
	color: #0a0a0a;
	font-size: 16px;
	font-weight: 600;
	font-family: 'subset-Graphik-Semibold';
}

input::placeholder {
	color: #0a0a0a;
	font-size: 16px;
	font-weight: 400;
}

.setting--btn {
	outline: none;
	text-decoration: none;
	background-color: #01be66;
	cursor: pointer;
	margin-top: 30px;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	border: none;
	border-radius: 3px;
	padding: 20px 35px;

	transition: background-color .2s linear;
}

.setting--btn:hover {
	background-color: #40946d;

	transition: background-color .2s linear;
}
/*/LEFT*/





/*RIGHT*/
.dialog__inner-right {
	width: 22%;
	position: relative;
	margin-top: 65px;
	padding-left: 10px;
}

.personal__right-btn {
	margin-bottom: 15px;
}

.personal__right-btn-1 {
}

.btn-per-right-1 {
	background-color: #0a0a0a;
	padding-top: 20px;
	border-radius: 5px;
	padding-bottom: 20px;
	padding-left: 45px;
	padding-right: 119px;
	color: #fff;
	font-size: 16px;
	text-decoration: none;

	transition: all .2s linear;
}

.btn-per-right-1:hover {
	background-color: #0a0a0a;
	color: #fff;

	transition: all .2s linear;
}

.img__plus-add-1 {
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 23px;
	z-index: 0;
}

.order {
	margin-top: 53px;
}

.order.three a {
	padding-right: 91px;
}

.order a {
	border-radius: 5px;
	padding-left: 15px;
	padding-top: 20px;
	padding-right: 48px;
	padding-bottom: 20px;
	border: 1px solid #e8e8e8;
	text-decoration: none;
	color: #0a0a0a;
	font-size: 16px;
	font-weight: 400;

	transition: background-color .2s linear;
}

.order a:hover,
.order-2 a:hover,
.order-3 a:hover {
	background-color: #0a0a0a;
	color: #fff;

	transition: background-color .2s linear;
}

.order-2 {
	margin-top: 50px;
	margin-bottom: 100px;
}

.order-2 a {
	border-radius: 5px;
	padding-left: 15px;
	padding-top: 20px;
	padding-right: 41px;
	padding-bottom: 20px;
	border: 1px solid #e8e8e8;
	text-decoration: none;
	color: #0a0a0a;
	font-size: 16px;
	font-weight: 400;


	transition: background-color .2s linear;
}

.order-3 {
	margin-bottom: 50px;
	margin-top: 50px;
}

.order img,
.order-2 img {
	margin-right: 12px;
}

.personal_obj {
	color: #959595;
}

.chara__close {
	position: absolute;
	top: -40px;
	right: 10px;
	cursor: pointer;
	z-index: 2;
}
/*/RIGHT*/
/* /DIALOG*/

















*,
*:before,
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

body {
	font-family: "subset-Graphik-Regular";
	color: #0a0a0a;
    -webkit-font-smoothing: antialiased;

	margin: 0;
	padding: 0;
}

/*Container*/
.container {
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
	max-width: 1180px;
	margin: 0 auto;
}
/*/Container*/


/*Header*/
.header:after {
	margin-top: 10px;
	opacity: .5;
	content: "";
	border: 1px solid #e8e8e8;
	display: block;
}

.header__inner {
	align-items: center;
	padding-top: 15px;
	display: flex;
	justify-content: space-between;
}

.header__search {
	padding-right: 450px;
	cursor: pointer;
}

.nav__link {
	text-decoration: none;
	color: #0a0a0a;
	font-weight: 400;
	font-size: 16px;
	padding-right: 30px;

	transition: color .2s linear;
}

.nav {
	display: flex;
	align-items: center;
}

.nav__link:hover {
	color: #01be66;

	transition: color .2s linear;
}

.nav__link--btn {
	padding-right: 0;
	color: #01be66;

	transition: color .2s linear;
}

.nav__link--btn:hover {
	color: #0a0a0a;

	transition: color .2s linear;
}

.nav__img {
	padding-right: 7px;
}

.linked {
	padding-top: 3px;
	display: flex;
	align-items: center;
}
/*/Header*/

.rev__inner {
	display: flex;
	justify-content: space-between;
}

.rev__inner-right {
	display: flex;
}

.rev__inner-reviews {
	position: relative;
	margin-left: 25px;
}

.rev__inner-reviews:first-child {
	margin-left: 0;
}

.rev__inner-right {
	position: relative;
}

.rev__inner-right:before {
	content: "";
	width: 100%;
	height: 2px;
	border: 2px solid #f3f3f3;
	position: absolute;
	top: 25px;
	left: 0;
	z-index: 1;
}

.rev__inner-reviews:hover::before {
	display: block;
}

.rev__inner-reviews.new:before {
	display: block;
}

.rev__rev {
	color: #0a0a0a;
	font-size: 36px;
	font-family: 'subset-GraphikLCG-Bold';
	font-weight: 700;
}

.rev__num {
	color: #959595;
}

.new {
	color: #01be66;
}

.rev__inner-reviews:hover {
	color: #01be66;
	cursor: pointer;
}

.rev__inner {
	position: relative;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
}

.rev__inner-reviews:before {
	content: "";
	width: 100%;
	height: 2px;
	border: 2px solid #01be66;
	position: absolute;
	top: 25px;
	left: 0;
	display: none;
	z-index: 2;
}



/* DIALOG*/

.dialog__inner {
	display: flex;
}



/*LEFT*/
.dialog__inner-left {
	margin-top: 50px;
	width: 78%;
	padding-right: 10px;
}

.attention__inner {
	display: flex;
	margin-bottom: 15px;
	padding-top: 15px;
	padding-bottom: 10px;
	padding-left: 15px;
	border: 1px solid #e8e8e8;
}

.attention__left img {
	padding-right: 15px;
}

.attention__title {
	color: #0077cc;
	font-size: 20px;
	font-family: 'subset-Graphik-Semibold';
	font-weight: 600;
	margin-bottom: 10px;
}

.attention__text {
	line-height: 1.5;
	color: #0a0a0a;
	font-family: 'subset-Graphik-Regular';
	font-weight: 400;
	font-size: 16px;
}

.attetion__span {
	font-family: 'subset-Graphik-Semibold';
	font-weight: 600;
}

.attention__footer-inner {
	display: flex;
	align-items: center;
}

.attention__footer-right img {
	padding-right: 10px;
}

.attention__footer-text-inner {
	display: flex;
	justify-content: space-between;
}

.attetion-green {
	color: #01be66;
	font-size: 20px;
	font-family: 'subset-Graphik-Semibold';
	font-weight: 600;

}

.attetion__footer-text-1 {
	line-height: 1.3;
	color: #0a0a0a;
	font-size: 16px;
	font-family: 'subset-Graphik-Semibold';
	font-weight: 600;
	padding-right: 80px;
}


.attetion__span-footer {
	color: #0a0a0a;
	font-family: 'subset-Graphik-Semibold';
	font-weight: 600;
	font-size: 16px;
}


.attetion__footer-text-3 {
	padding-left: 205px;
}

.attetion__footer-text-4 {
	position: relative;
	color: #01be66;
	font-size: 16px;
	font-weight: 600;
	font-family: 'subset-Graphik-Semibold';
}

.attetion__footer-text-4:before {
	color: #0a0a0a;
	cursor: pointer;
	content: "\e901";
	font-family: 'icomoon';
	position: absolute;
	bottom: 15px;
	right: -10px;
	z-index: 2;
}

.attention__footer-btn {
	border-radius: 3px;
	text-decoration: none;
	color: #fff;
	background-color: #01be66;
	padding: 20px 25px;

	transition: background-color .2s linear;
}

.attention__footer-btn:hover {
	background-color: #488d6d;

	transition: background-color .2s linear;
}

.attention__orange {
	color: #f98e3c;
	font-size: 20px;
	font-weight: 600;
	font-family: 'subset-Graphik-Semibold';
}

.perosnal__left-rev {
	display: flex;
	align-items: center;
}

.personal__name {
	display: block;
	margin-left: 15px;
	color: #0a0a0a;
	font-size: 16px;
	font-weight: 400;
}

.personal__hotel {
	display: block;
	padding-top: 5px;
	color: #0077cc;
	font-size: 16px;
	font-family: 'subset-Graphik-Semibold';
	font-weight: 600;
}

.personal__rev-only {
	padding-top: 10px;
	line-height: 1.6;
	color: #0a0a0a;
	font-weight: 400;
	font-size: 15px;
}

/*/LEFT*/





/*RIGHT*/
.dialog__inner-right {
	width: 22%;
	position: relative;
	margin-top: 65px;
	padding-left: 10px;
}

.personal__right-btn {
	margin-bottom: 15px;
}

.personal__right-btn-1 {
}

.btn-per-right-1 {
	padding-top: 20px;
	border-radius: 5px;
	padding-bottom: 20px;
	padding-left: 45px;
	padding-right: 116px;
	color: #0a0a0a;
	font-size: 16px;
	border: 1px solid #e8e8e8;
	background: #fff;
	text-decoration: none;

	transition: all .2s linear;
}

.btn-per-right-1:hover {
	background-color: #0a0a0a;
	color: #fff;
	border: 1px solid #0a0a0a;

	transition: all .2s linear;
}

.img__plus-add-1 {
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 23px;
	z-index: 0;
}

.order {
	margin-top: 53px;
}

.order a {
	border-radius: 5px;
	padding-left: 15px;
	padding-top: 20px;
	padding-right: 48px;
	padding-bottom: 20px;
	border: 1px solid #e8e8e8;
	text-decoration: none;
	color: #0a0a0a;
	font-size: 16px;
	font-weight: 400;

	transition: background-color .2s linear;
}

.order a:hover,
.order-2 a:hover,
.order-3 a:hover,
.order a:active,
.order-2 a:active,
.order-3 a:active {
	background-color: #0a0a0a;
	color: #fff;
	border: 1px solid #0a0a0a;

	transition: background-color .2s linear;
}

.order-2 {
	margin-top: 50px;
	margin-bottom: 100px;
}

.order-2 a {
	border-radius: 5px;
	padding-left: 15px;
	padding-top: 20px;
	padding-right: 41px;
	padding-bottom: 20px;
	border: 1px solid #e8e8e8;
	text-decoration: none;
	color: #fff;
	background-color: #0a0a0a;
	font-size: 16px;
	font-weight: 400;


	transition: background-color .2s linear;
}

.order-3 {
	margin-bottom: 50px;
	margin-top: 50px;
}

.order img,
.order-2 img {
	margin-right: 12px;
}

.personal_obj {
	color: #959595;
}

.chara__close {
	position: absolute;
	top: -40px;
	right: 10px;
	cursor: pointer;
	z-index: 2;
}
/*/RIGHT*/
/* /DIALOG*/




/*Footer*/
.footer {
	background-color: #000;
	padding-top: 35px;
	padding-bottom: 20px;
}

.footer__inner {
	padding-bottom: 45px;
	display: flex;
	justify-content: space-between;
}

.footer__text {
	color: #fff;
	line-height: 1.3;
	font-size: 13px;
	padding-top: 25px;
	padding-bottom: 25px;
}

.footer__phone {
	font-size: 20px;
	color: #fff;
	font-weight: 600;
	font-family: "subset-Graphik-Semibold";
}

.footer__center-title {
	font-weight: 600;
	font-family: "subset-Graphik-Semibold";
	color: #a8a8a8;
	font-size: 20px;
}

.footer__link {
	padding-top: 15px;
	display: block;
	font-size: 16px;
	color: #fff;
	text-decoration: none;
}

.footer__link:hover {
	text-decoration: underline;
}

.footer__item {
	display: flex;
	justify-content: space-between;
}

.footer__card {
	display: flex;
	height: 20px;
}

.card__item {
	cursor: pointer;
	padding-right: 13px;
}

.footer__soc-item {
	margin-left: 10px;

	transition: transform .2s linear;
}

.footer__soc-item:hover {
	transform: translateY(-5px);

	transition: transform .2s linear;
}

.footer__copyright {
	padding-top: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.copyright {
	color: #a8a8a8;
	font-size: 13px;
	line-height: 1.3;
	font-weight: 400;
}

.copyright__goverment {
	margin-right: 140px;
}

.copyright__user,
.copyright__gov {
	text-decoration: none;
	color: #01be66;
	line-height: 1.3;
	font-weight: 400;
	font-size: 13px;
}

.copyright__user:hover,
.copyright__gov:hover {
	text-decoration: underline;
}

.copyright__gov {
	margin-left: 15px;
}

.search__footer {
	outline: none;
	width: 160px;
	padding-left: 30px;
}

.search__footer-item {
	position: absolute;
	margin-top: 4px;
	z-index: 1000;
	right: 247px;
}

.search__footer {
	color: #fff;
	border: none;
	background-color: #000;
}

.search__footer::placeholder {
	color: #fff;
}


/*/Footer*/