@media (max-width: 576px) {
    .dialog {
        &__inner {
            flex-wrap: wrap;
            &-left {
                margin-top: 0;
                width: 100%;
            }
            &-right {
                order: -1;
                width: 100%;
                margin-top: 10px;
            }
        }
    }
    .choice__right-price {
        width: 100%;
        text-align: center;
    }
    .rev__rev {
        font-size: 25px;
    }
    .attention__footer-inner .attetion__footer-text-4 {
        width: 100%;
    }
    #collapseExample {
        margin-top: 40px;
        a {
            display: block;
            width: 100%;
        }
    }
    .attention {
        &__inner {
            display: flex;
            flex-wrap: wrap;
        }
        &__right {
            display: flex;
            flex-wrap: wrap;
        }
        &__left {
            display: none;
        }
        &__footer-text-inner {
            flex-wrap: wrap;
        }
        &__footer-text-2 {
            width: 100%;
        }
        &__footer-btn {
            margin: 0 auto;
        }
    }
    .personal__right-btn-1,
    .order,
    .order-3 {
        margin-top: 9px;
    }
    .personal__right-btn-1 .img__plus-add-1 {
        top: 25px;
    }
    .img__plus-add {
        top: 25px;
    }
    .personal__right-btn-1 {
        position: relative;
    }
    .personal {
        &__left-rev {
            width: 100%;
        }
        &__right {
            width: 100%;
            margin-top: 10px;
            &-btn {
                width: 100%;
                position: relative;
            }
        }
        &__left {
            width: 100%;
        }
        &__inner {
            flex-wrap: wrap;
        }
        &__rev__inner {
            width: 100%;
        }
    }
    .reserver {
        border: none;
    }
    .client {
        &__inner {
            flex-wrap: wrap;
        }
        &--span {
            display: block;
        }
        &__block {
            padding: 32px 12px;
        }
    }
    .chara__title {
        font-size: 20px;
    }
    .slider__calendar .rdrDay {
        width: 14%;
        height: 60px;
    }
    .slider__calendar .rdrPprevButton {
        left: 0;
    }
    .slider__calendar .rdrNextButton {
        left: 85%;
    }
    .icon-1 {
        display: none;
    }
    .setting {
        &__right {
            border-right: 1px solid #e8e8e8;
            padding: 0;
        }
        &__left,
        &__right {
            width: 100%;
        }
        &__inner {
            flex-direction: column;
        }
    }
    .setting__service {
        position: unset
    }
    .icon-1,
    .icon-2 {
        display: none
    }
    .name {
        width: 100%;
    }
    .setting__photo {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 576px) and (max-width: 900px) {
    .btn-per-right,
    .btn-per-right-1 {
        padding-left: 15px;
    }
    .btn-per-right,
    .btn-per-right-1 {
        font-size: 14px;
    }
    .setting__service {
        position: unset
    }
    .icon-1,
    .icon-2 {
        display: none
    }
    .reserver {
        padding: 20px 15px;
    }
    .cett {
        padding-right: 63px;
        padding-left: 39px;
    }
    .personal {
        &__left-rev {
            width: 100%;
        }
        &__right {
            width: 100%;
            margin-top: 10px;
            &-btn {
                width: 100%;
                position: relative;
            }
        }
        &__left {
            width: 100%;
        }
        &__inner {
            flex-wrap: wrap;
        }
        &__rev__inner {
            width: 100%;
        }
    }
    .name {
        width: 100%;
    }
    .order img,
    .order-2 img,
    .order-3 img {
        display: none;
    }
    .dialog__inner-right .order a {
        padding: 20px 46px 20px 15px;
        font-size: 13px;
        display: block;
    }
    .dialog__inner-right .order-3 a {
        padding: 15px 11px 20px 8px;
        font-size: 13px;
        display: block
    }
    .order {
        margin-top: 30px;
    }
    .order.orders-1 a {
        padding-left: 13px;
        padding-right: 4px;
        display: block;
        font-size: 13px;
    }
    .img__plus-add {
        display: none;
    }
    .personal__right-btn-1 {
        margin: 0;
    }
    .personal__right-btn-1 .img__plus-add-1 {
        display: none;
    }
    .attention__left img {
        width: 180px;
        height: 180px;
    }
    .attention__footer-btn {
        margin-left: 10px
    }
    .attention__right {
        width: 66%;
    }
    .rev__rev {
        font-size: 21px;
    }
    .attention__footer-text-inner {
        display: flex;
        flex-wrap: wrap;
    }
    .attention__footer-inner .attetion__footer-text-1,
    .attention__footer-inner .attetion__footer-text-4 {
        font-size: 14px;
        padding: 0;
    }
    .attetion-green,
    .attention__orange {
        font-size: 16px;
    }
    .choice__right-price {
        width: 100%;
        text-align: center;
    }
    .img__setting {
        width: 100%;
    }
    .setting__photo {
        padding: 20px 7px 21px 6px;
    }
}

@media (min-width: 768px) and (max-width: 812px) {
    .hideObject {
        width: 60%;
    }
    .choice__best {
        width: 100%;
    }
    .personal__right {
        width: 30%;
    }
    .personal__left {
        width: 70%;
    }
}